{% extends '::base.html.twig' %}

{% block title %}{{ paste.title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-6 mb-3 mb-md-0">
                <h1>{{ paste.title }}</h1>
                <p>
                    by {{ paste.user.callsign }} on {{ paste.created | date('M d, Y h:i:sa') }}
                </p>
            </div>
            <div class="col-md-6">
                <section class="text-md-right">
                    {% if paste.user == app.user %}
                        <a class="btn btn-secondary"
                           href="{{ path('edit_message_log', {
                               id: paste.id,
                               key: key,
                           }) }}"
                        >
                            Edit
                        </a>
                    {% endif %}
                    <a class="btn btn-primary"
                       href="{{ path('show_message_log', {
                           id: paste.id,
                           key: key,
                           format: 'text'
                       }) }}"
                    >
                        View Raw
                    </a>
                    <a class="btn btn-primary"
                       href="{{ path('show_message_log', {
                           id: paste.id,
                           key: key,
                           download: 'text'
                       }) }}"
                    >
                        Download
                    </a>
                </section>
            </div>
        </div>

        {% if encrypted %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <h4>Private Paste</h4>
                <p class="mb-0">If you lose this URL, there is no way of retrieving this paste.</p>

                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        <section class="message p-3">
            <pre class="mb-0">{{ message | raw }}</pre>
        </section>
    </div>
{% endblock %}
