{{ form_start(form) }}
    <div class="form-group">
        {{ form_row(form.title, { attr: {
            'class': 'form-control',
            'aria-describedby': 'titleHelp'
        }}) }}
        <small id="titleHelp" class="form-text text-muted">A name that'll help you remember the contents of this log.</small>
    </div>

    <div class="form-group">
        {{ form_row(form.message, { attr: {
            'class': 'form-control',
            'aria-describedby': 'messageHelp'
        }}) }}
        <small id="messageHelp" class="form-text text-muted">Copy paste your file contents</small>
    </div>

    <div class="checkbox mb-3">
        {{ form_errors(form.encrypted) }}
        <label class="mb-0">
            {{ form_widget(form.encrypted, { attr: {
                'class': 'mr-2',
                'aria-describedby': 'noSaveHelp'
            }}) }}
            {{- form.encrypted.vars.label -}}
        </label>
        <small id="noSaveHelp" class="form-text text-muted">This log will <strong>not</strong> be saved to your account meaning you will need to store the URL somewhere safe or risk losing the log.</small>
    </div>

    <div class="form-group">
        <div>
            {{ form_label(form.filter, null, { label_attr: {
                'class': 'mb-0',
                'aria-describedby': 'chatHelp'
            }}) }}
            <small class="color--red">(beta)</small>
        </div>

        <p>
            <small id="chatHelp" class="text-muted">
                Use these filters to hide types of messages that appear in your console to clean up your message log.
            </small>
        </p>

        <div class="row">
            {% for child in form.filter.children %}
                <div class="col-sm-6 col-md-4">
                    <div class="form-check ml-3">
                        <label class="form-check-label" for="{{ child.vars.id }}">
                            {{ form_widget(child, { attr: {
                                class: 'form-check-input'
                            }}) }}
                            {{- child.vars.label -}}
                        </label>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% if form.private_message_filters is defined %}
        <div class="form-group">
            <div>
                {{ form_label(form.private_message_filters, null, { label_attr: {
                    'class': 'mb-0',
                    'aria-describedby': 'pmFilterHelp'
                }}) }}
                <small class="color--red">(beta)</small>
            </div>
            <p>
                <small id="pmFilterHelp" class="text-muted">
                    Filter your message log to only display PM conversations with the following players.
                    Use <kbd><kbd>CTRL</kbd>/<kbd>&#8984;</kbd> + Click</kbd> to deselect players.
                </small>
            </p>

            {{ form_errors(form.private_message_filters) }}

            {{ form_widget(form.private_message_filters, { attr: {
                'class': 'form-control'
            }}) }}
        </div>
    {% endif %}

    {{ form_row(form.submit, { attr: {
        class: 'btn btn-primary'
    }}) }}

    {{ form_rest(form) }}
{{ form_end(form) }}
